<section class="contact-section">
    <div class="padding">
        <div class="container">
            <div class="contact-header">
                <h1>Contact Us</h1>
                <p>We'd love to hear from you! Reach out with any questions or to make a reservation.</p>
            </div>
            
            <div class="contact-content">
                <div class="map-container">
                    <h2>Our Location</h2>
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14388.965702278361!2d-100.28812826481357!3d25.630111621538312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bfab3e89f31f%3A0x9e95d694db1c621e!2sTecmilenio%20Las%20Torres%20Monterrey!5e0!3m2!1ses-419!2smx!4v1743227757195!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="form-container">
                    <h2>Send Us a Message</h2>
                    <div class="contact-info">
                        <p><span>Email:</span> info&commat;maidcafelatte.com</p>
                        <p><span>Phone:</span> +1 (555) 123-4567</p>
                        <p><span>Hours:</span> Monday-Friday, 9AM-10PM <br>Saturday - Sunday: 10:00 AM - 11:00 PM</p>
                    </div>
                    
                    <form action="#" method="POST">
                        <div class="form-section">
                            <input type="text" placeholder="First Name" class="form-field" required>
                            <input type="text" placeholder="Last Name" class="form-field" required>
                        </div>
                        <div class="form-section">
                            <input type="email" placeholder="Email" class="form-field" required>
                            <input type="tel" placeholder="Contact Number" class="form-field">
                        </div>
                        <div class="form-section">
                            <textarea placeholder="Your message here..." class="textarea" required></textarea>
                        </div>
                        <button type="submit" class="btn">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>